<div class="p-6 mt-2 bg-white border border-gray-200 rounded-lg shadow">
  <h5 class="text-2xl font-semibold tracking-tight text-gray-900 mb-4">
    <%= link_to question.title, question_path(question) %>
  </h5>
  <div class="mb-3 font-normal text-gray-500">
    <%= truncate(strip_tags(question.body), length: 150, omission: '... (continued)') %>
  </div>
  <p class="mb-3 font-normal text-gray-500 text-xs">
    <time datetime="<%= question.formatted_created_at %>">
      <%= question.formatted_created_at %>
    </time>
  </p>
  <div class="inline-flex rounded-md shadow-sm" role="group">
    <%= link_to 'Edit', edit_question_path(question),
      class: 'text-sm px-4 py-2 focus:outline-none text-white rounded-l-lg bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium' %>
    <%= link_to 'Delete', question_path(question), method: :delete, data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
      }, class: 'text-sm px-4 py-2 focus:outline-none text-white rounded-r-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium' %>
  </div>
  <div class="flex items-center mt-2 text-gray-500 text-xs">
    <%= question.user.gravatar %>
    <p class="italic font-extrabold ml-2">
      Author: <span class='font-normal'><%= question.user.name_or_email %></span>
    </p>
  </div>
</div>
