<%= provide :page_title, 'Questions'  %>
<%= currently_at 'Questions' %>

<div class='mb-6 w-1/2'>
  <div class='mb-4'>
    <%= link_to 'New question', new_question_path,
                class: 'focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-lg rounded-lg text-xl px-5 py-2.5' %>
  </div>

  <div>
    <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
  </div>
  
  <% @questions.each do |question| %>
    <div class="p-6 mt-2 bg-white border border-gray-200 rounded-lg shadow">
      <h5 class="text-2xl font-semibold tracking-tight text-gray-900 mb-4">
        <%= link_to question.title, question_path(question) %>
      </h5>
      <div class="mb-3 font-normal text-gray-500">
        <%= truncate(strip_tags(question.body), length: 150, omission: '... (continued)') %>
      </div>
      <p class="mb-3 font-normal text-gray-500 text-xs">
        <time datetime="<%= question.formatted_created_at %>">
          <%= question.formatted_created_at %>
        </time>
      </p>
      <div class="inline-flex rounded-md shadow-sm" role="group">
        <%= link_to 'Edit', edit_question_path(question),
          class: 'text-sm px-4 py-2 focus:outline-none text-white rounded-l-lg bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium' %>
        <%= link_to 'Delete', question_path(question), method: :delete, data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
          }, class: 'text-sm px-4 py-2 focus:outline-none text-white rounded-r-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium' %>
      </div>
    </div>
  <% end %>

  <div class='mt-4'>
    <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
  </div>
</div>
