<%= form_with model: @user do |f| %>
  <div class='mb-4'>
    <%= f.label :email, class: 'form-label block mb-2 text-sm font-medium text-gray-900' %>
    <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
  </div>

    <div class='mb-4'>
    <%= f.label :name, class: 'form-label block mb-2 text-sm font-medium text-gray-900' %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>

  <div class='mb-4'>
    <%= f.label :password, class: 'form-label block mb-2 text-sm font-medium text-gray-900' %>
    <%= f.password_field :password, class: 'form-control block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>

  <div class='mb-4'>
    <%= f.label :password_confirmation, class: 'form-label block mb-2 text-sm font-medium text-gray-900' %>
    <%= f.password_field :password_confirmation, class: 'form-control block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>

  <%= f.submit 'Register!', class: 'cursor-pointer mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
<% end %>
