<%= provide :main_menu do %>
  <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <%= link_to root_path, class: 'flex items-center' do %>
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Hikaru Logo">
        <span class="self-center xl:text-2xl font-semibold whitespace-nowrap sm:text-sm">Hikaru Blog</span>
      <% end %>

      <div class="flex md:order-2">
        <%= render 'shared/switch_locales' %>
        <% if user_signed_in? %>
          <button id="dropdownProfileLink" data-dropdown-toggle="dropdownProfile" class="flex items-center justify-between w-full py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto">
            <%= current_user.name_or_email %>
            <svg class="w-2.5 h-2.5 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>
              <!-- Dropdown menu -->
          <div id="dropdownProfile" class="z-10 hidden font-normal bg-gray-100 divide-y divide-gray-300 rounded-lg shadow w-44">
            <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
              <li>
                <%= link_to 'Edit profile', edit_user_path(current_user), class: 'block px-4 py-2 hover:bg-gray-200' %>
              </li>
            </ul>
            <div class="py-1">
              <%= link_to 'Log out', session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Sign Up', new_user_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3" %>
          <%= link_to 'Log In', new_session_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center" %>
        <% end %>
        
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
          <li>
            <%= nav_tab t('menu.home'), root_path, class: 'block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0', current_page: current_page %>
          </li>
          <li>
            <%= nav_tab 'Questions', questions_path, class: 'block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0', current_page: current_page %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
