<%= provide :page_title, 'Admin users'  %>
<%= currently_at 'Admin Users' %>

<div class='mb-6 w-1/2'>
  <h1 class='text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center mb-8'>
    Admin Users
  </h1>

   <div class='mb-4'>
    <%= link_to 'Download zipped XLSX', admin_users_path(format: :zip),
                class: 'focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-lg rounded-lg text-xl px-5 py-2.5' %>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3">
              #
          </th>
          <th scope="col" class="px-6 py-3">
              Name
          </th>
          <th scope="col" class="px-6 py-3">
              Email
          </th>
          <th scope="col" class="px-6 py-3">
              Role
          </th>
          <th scope="col" class="px-6 py-3">
              Created at
          </th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>

  <div class='mt-2'>
    <%= pagination(@pagy) %>
  </div>

  <h1 class='text-black text-3xl text-left mb-4 mt-6'>
    Upload users from XLSX
  </h1>

  <div class="mt-4">
    <%= form_tag admin_users_path, multipart: true do %>
      <%= label_tag :archive, 'Select archive', class: 'block mb-2 text-sm font-medium text-gray-900 ' %>

      <div class="flex flex-row">
        <%= file_field_tag :archive, class: 'block mr-10 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50' %>
        <%= submit_tag 'Upload!', class: 'cursor-pointer  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
      </div>
    <% end %>
  </div>
</div>
